body {
  margin-top: 48px;
  font-family: 'Titillium Web', sans-serif;
}

.message {
  margin: 1em;
}

.code-block {
  padding: 20px;
  margin: 10px;
  background-color: #f7f7f9;
}

nav {
  margin: 10px 0;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
}

#myBtn:hover {
  background-color: #555;
}